@import "/home/cameron/.config/colors/colors.css";

* {
    font-family: "Monocraft";
    font-size: 18;
    font-weight: normal;
    border: none;
    border-radius: 999px;
    margin: 0px 0px;
    padding: 0px 0px;
}

window#waybar {
    background-color: alpha(@background, 0);
    margin: 0px;
    padding: 0px;
}

/* Main modules */
#workspaces,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#tray {
    background-color: alpha(@background, 0.65);
    color: @on_surface;
    border: 0px solid @primary;
    border-radius: 999px;
    margin: 4px 4px;
    padding: 0 10px;
    min-height: 24px;
}

/* Exit button */
#custom-exit {
    /*background: @background;*/
    color: @red;
    border: 0px solid @primary;
    border-radius: 999px;
    padding: 0px 10px;
    margin: 4px 4px;
    background-color: @border;
}

/* Clock */
#clock {
    padding: 0 10px;
    margin: 4px 4px;
    color: @primary;
    border-radius: 999px;
    background-color: @border;
}

#custom-launcher {
    font-size: 20px;
    padding: 0 10px;
    margin: 4px 4px;
    color: #1793d1; /* Arch Linux blue */
    /*background: @background;*/
    background-color: @border;
    border-radius: 999px;
}

/* Workspaces */
#workspaces {
    padding: 0 10px;
    margin: 4px 4px;
    background: @background;
    background-color: @border;
    border-radius: 999px;
}

#workspaces button {
    color: @outline;
    font-size: 16px;
    padding: 0 10px;
    margin: 4px 0px;
}

#workspaces button.active {
    background-color: @background-alt;
    color: @surface;
    border-radius: 999px;
    padding: 0 10px;
    margin: 4px 4px;
}

#workspaces button.persistent {
    color: @accent;
}

/* CPU / Memory */
#cpu {
    border-radius: 999px 0 0 999px;
    border-right: none;
    margin-right: 0;
    color: @cyan;
    background-color: @border;
    padding: 0 10px;
    margin: 4px 0px;
}

#memory {
    border-radius: 0 999px 999px 0;
    border-left: none;
    margin-left: 0;
    color: @green;
    background-color: @border;
    padding: 0 10px;
    margin: 4px 0px;
}

/* Individual modules */
#network { 
    color: @purple;
    border-radius: 999px;
    background-color: @border;
    padding: 0 10px;
    margin: 4px 4px;
}

#battery {
     color: @blue;
     border-radius: 0 999px 999px 0;
     background-color: @border;
     border-left: none;
     margin-left: 0;
     padding: 0 10px;
     margin: 4px 0px;
}
#pulseaudio {
     color: @pink;
     border-radius: 999px 0 0 999px;
     background-color: @border; 
     border-right: none;
     margin-right: 0;
     padding: 0 10px;
     margin: 4px 0px;
}

#tray {
    padding: 0 10px;
    margin: 4px 4px;
    background-color: @border
}

/* Tooltips */
tooltip {
    background: @surface_container;
    border: 1px solid @primary;
    border-radius: 10px;
}

tooltip label {
    color: @on_surface;
    padding: 8px;
}
